<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Style Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src={{ url_for('static', filename='script.js') }}></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap&family=Audiowide');
    </style>

  </head>
  <body>
    <p class="title">Style Transfer</p>
    <div id="contents">

      <div id="controller">

        <div id="controls">

          <div id="sliders-box">
          <div id="sliders">

            <div class="slidecontainer">
              <input type="range" id="dim1" name="dim1" class="slider" min="-5" max="5" step="0.05" />
            </div>

            <div class="slidecontainer">
              <input type="range" id="dim2" name="dim2" class="slider" min="-5" max="5" step="0.05"/>
            </div>

            <div class="slidecontainer">
              <input type="range" id="dim3" name="dim3" class="slider" min="-5" max="5" step="0.05"/>
            </div>

            <div class="slidecontainer">
              <input type="range" id="dim4" name="dim4" class="slider" min="-5" max="5" step="0.05"/>
            </div>

          </div>
          </div>

          <div id="buttons">
            <div class="buttoncontainer">
              <input type="checkbox" id="playing" class="button"/><!-- <label for="playing">Playing</label>-->
              <i class="fa fa-play"></i>
            </div>

            <div class="buttoncontainer">
              <input type="checkbox" id="looping" class="button"/><!--<label for="looping">Looping</label>-->
              <i class="fa fa-repeat"></i>
            </div>

            <div class="buttoncontainer">
              <input type="checkbox" id="transforming" class="button"/><!--<label for="transform">Style Transfer</label>-->
              <i class="fa fa-exchange"></i>
            </div>

          </div>

        </div>

        <div id="grid-box">
          <div id="grid">
            <div class="rect"></div>
            <div class="rect colored"></div>
            <div class="rect"></div>
            <div class="rect colored"></div>
            <div class="rect"></div>
            <div class="rect colored"></div>
            <div class="rect colored"></div>
            <div class="rect"></div>
            <div class="rect colored"></div>
            <div class="rect"></div>
            <div class="rect colored"></div>
            <div class="rect"></div>
            <div class="rect"></div>
            <div class="rect colored"></div>
            <div class="rect"></div>
            <div class="rect colored"></div>
            <div class="rect"></div>
            <div class="rect colored"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
